bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vsscc
TestResults/
artifacts/
**/bin/
**/obj/
publish/
.DS_Store
.idea/
.vscode/
*.db
*.log
*.sqlite
*.sqlite3
/.microsoft/usersecrets
_ReSharper*/
*.nupkg
packages/
node_modules/